<div class="modal-dialog">
  <div class="modal-content">
  <%= form_for update_overtime_path(@overtime), remote: true do |f| %>
    <%= f.label :日付 %>
    <%= f.text_field :worked_on, value: @overtime.worked_on.to_s(:date), class: "form-control" %>

    <%= f.label :曜日 %>
    <%= f.text_field :youbi, value: @youbi, class: "form-control" %>

    <%= f.label :終了予定時間 %>
    <%= f.time_select :scheduled_end_time,  :include_blank => true, class: "form-control" %>
    

    <%= f.label :翌日 %>
    <%= f.check_box :next_day, value: @overtime.next_day, class: "form-control" %>

    <%= f.label :業務処理内容 %>
    <%= f.text_field :processing_content, value: @overtime.processing_content, class: "form-control" %>

    <%= f.label :指示者確認㊞ %>
    <%= f.select :instructor_confirm_overtime, Attendance.instructor_confirm_overtimes.keys.to_a, { include_blank: true }, class: "form-control" %>
  
    <%= f.submit "更新する", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
